.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #5fe475 0%, #5fe475 50%, #33ccff 50%, #33ccff 100%);
}

.searchContainer {
    position: absolute;
    z-index: 999;
    top: 15%;
    left: 45%;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .searchBar {
        height: 30px;
        width: 150px;
        border: none;
        border-bottom: 5px solid #681111;
        padding: 5px;
        border-radius: 6px;
        font-size: 10px;
        font-family: inherit !important;
    }

    button {
        height: 45px;
        width: 100px;
        border: none;
        padding: 10px;
        border-radius: 8px;
        border-bottom: 5px solid #681111;
        font-family: inherit !important;
        font-size: 12px;
    }

    button:hover {
        background-color: #c0c6c9;
    }

    button:active {
        // box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}

.container {
    height: 600px;
    width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../../pokedex.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;



    .imageContainer {
        position: absolute;
        top: 33%;
        left: 10%;
        display: flex;
        flex-direction: row;
        font-size: 5px;

        img {
            height: 200px;
            width: 200px;
        }
    }

    .table {
        position: absolute;
        top: 33%;
        left: 56%;
        color: white;
        opacity: 0.7;
        transition: all 3s ease-in-out;
        font-size: 12px;
        // font-variant: small-caps;

        ul {
            display: grid;
            grid-template-rows: auto auto;
            transition: all 3s ease-in-out;


        }



        li {
            padding-bottom: 12px;
        }
    }

    .titleList {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 32%;
        left: 20%;
        color: #4a5357;
    }

    ul {
        list-style: none;
        text-decoration: none;
    }

    .loading {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        top: 76%;
        left: 60%;
        width: 330px;
        height: 100px;

        p {
            margin-bottom: 10px;
        }

        progress {
            height: 120px;
            width: 180px;
            color: #5fe475;
        }
    }

    .logo {
        position: absolute;
        top: 13%;
        left: 17%;
        width: 200px;
        height: 60px;
        background-size: 100% 100%;
        background-image: url("../../pokemon_logo.png");
    }
}

@media (max-width:960px) {
    .main {
        transform: rotate(90deg);
        
    }

    
}